.root {
    min-height: 100vh;
    overflow-y: auto;
    background: linear-gradient(
    135deg,
    #4ad89f 0%,    
    #5cd494 50%,  
    #3fd1b8 100%  
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 88px 24px 24px;
}

.avatarContainer {
  position: relative;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
}

.editingButton {
    background: #FFF;
    color: #34D399;
    padding: 8px 16px;
    border-radius: 16px;
    cursor: pointer;
    width: 100%;
    cursor: pointer;
}

.logout {
    text-align: center;
    width: 100%;
    background: #FFF;
    color: #EC4899;
    padding: 8px 16px;
    border-radius: 16px;
    cursor: pointer;
}